/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
}

/* Header */
header { 
    background-color: antiquewhite;
}
/* Main Content */
main {
    background-color: burlywood;
    /* Make main element push the footer down by taking up any surplus space */
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: darkkhaki;
}
