/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Mulish', sans-serif;
    color: #28282B;
}

h1 {
    font-family: 'Mukta-Vaani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 500;
    color: #28282B;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 5px #28282B;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #28282B;
}

/* Navbar styles with a dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #28282B;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Make main element push the footer down by taking up any surplus space */
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Home page */

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(166, 161, 126, .7);
    font-size: 110%;
    position: absolute;
    align-items: center;
    bottom: 20px;
    left: 5%;
    width: 90%;
    min-height: 70px;
    padding: 20px;
}

#cover-text>h2 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;

}

/* Benefits Section */
#benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#benefits div {
    flex-direction: column;
    flex-wrap: wrap;

}

#benefits ul {
    padding: 20px;
}

#benefits ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.benefits-image {
    max-width: 50%;
    max-height: 50%;
    border-radius: 45px;
    position: relative;
}

/* Welcome section */

#welcome {
    width: 100%;
    display: flex;
    justify-content: center;
}

#welcome div {
    text-align: center;
    padding: 20px;
    background-color: rgba(49, 67, 47, 0.72);
    width: 90%;
    display: flex;
    justify-content: center;
}

#welcome div p {
    color: #ffffff;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Testimonial section */

#testimonial {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.test-left,
.test-right {
    flex: 1 1 50%;
    padding: 10px;
}

.test-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vogue-image {
    max-width: 60%;
}

.test-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test-right p {
    max-width: 600px;
    font-size: larger;
    font-style: italic;
}

/* About page */
#about {
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.about-main {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about>div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

#about>div img {
    width: calc(33.33% - 10px);
    height: auto;
}

.about-text {
    text-align: center;
    padding: 15px;
    background-color: rgba(49, 67, 47, 0.72);
    margin: 0 auto;
}

.about-text p {
    color: #ffffff;
    font-weight: 300;
}

/* Map container */
#find-us {
    text-align: left;
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

#find-us h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.address {
    text-align: center;
    padding: 15px 5%;
    font-size: larger;
}

.map-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(166, 161, 126, .7);
    margin: 0 auto;
    padding-bottom: 40px;
    width: 100%;
}

.map-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Yoga & Meditation page */
#yoga-meditation {
    justify-content: center;
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.enlightenment-quote {
    background-color: rgba(49, 67, 47, 0.72);
}

.enlightenment-quote p {
    font-size: 27px;
    font-weight: 300;
    padding: 20px 40px;
    color: #ffffff;
    text-align: center;
}

.yoga-types {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px;
    gap: 60px;
    flex-wrap: wrap;
}

#yoga-meditation div h3 {
    padding: 20px 40px;
}

.video-wrapper {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 450px;
    border: 0;
}

/* Workshops page */
/* Why Us section */
#why-us {
    justify-content: center;
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#why-us h2, #why-us h3{
    margin-bottom: 20px;
}

.workshops {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:#ffffff
}

.workshops ul {
    list-style-type: none;
    text-align: center;
}

.workshops h2 {
    text-align: center;
    text-transform: uppercase;
}

.elements-container {
    background: #31432fc7;
    padding: 30px;
}

.moon-container {
    background: #A6A17E;
    padding: 30px;
}

.sun-container {
    background: #7E733C;
    padding: 30px;
}

.body-mind-container {
    background: #869096;
    padding: 30px;
}

#gallery {
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
}

.gallery-images img {
    width: 100%;
    line-height: 1em;
}

.gallery-images {
    line-height: 0;
}

/* Register page */
#register { 
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#register>h2 {
    margin-bottom: 20px;
}

#register-form {
    background-color: #a6a17ec4;
    padding: 30px;
}

#register-form>p {
    margin-bottom: 20px;
}

.text-input {
    background: #fafafa;
    color: #28282B; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #28282B;
    border-radius: 2px;   
    padding: 0 5px;
}

.register-button {
    margin-top: 20px;
    border-radius: 50px;
    padding: 20px 30px;
    background-color: #31432fbf;
    color: #fafafa;
    border: none;
    font-size: 100%;

}

/* Response pages */
.response {
    text-align: center;
    padding: 40px;
}

.response h2 {
    margin-bottom: 20px;
}


/* Footer */
footer {
    background-color: #869096;
}

/* Newsletter form */
footer h3 {
    font-family: 'Mulish', sans-serif;
    color: #28282B;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 5px 0;
}

.newsletter-form input[type="submit"] {
    background-color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color: #28282B;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    padding: 2px 5px;
    border-radius: 20px;
    cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
    background-color: #A6A17E;
}

.newsletter-form input[type="email"] {
    font-family: 'Mulish', sans-serif;
    color: #28282B;
    font-weight: 300;
}

#social-networks {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#social-networks i {
    font-size: 100%;
    color: #28282B;
    padding-right: 5%;
}

/* Media query:phone screens (390px and down) */
@media screen and (max-width: 390px) {
    /* Home page */
    #logo {
        letter-spacing: 6.5px;
        font-size: 25px;
    }

    #cover-text>h2 {
        font-size: large;
    }
}
/* Media query: large or landscape phones (576px up) */
@media screen and (min-width: 576px) {
   /* Workshop page */
    .gallery-images {
        column-count: 2;
        column-gap: 0;
    }
}

@media screen and (max-width: 768px) {
    /* About page */
    #about>div {
        flex-direction: column;
        gap: 10px;
    }

    #about>div img {
        width: 100%;
        max-width: 100%;
    }

    /* Yoga & Meditation page */
    .yoga-types {
        flex-wrap: wrap;
    }

    /* Workshops page */
    .workshops {
        flex-direction: column;
    }
}

/* Media query: tablets and lager (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        font-size: 12px;
    }

    h1 {
        /* Make logo smaller so navbar pages can be seen */
        font-size: 1.8rem;
        letter-spacing: 9px;
        /* Make the logo more centered vertically */
        padding-top: 10px
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate the logo padding */
        margin-top: 51px;
    }

    /* Home Page */
    /* Benefits section */
    #benefits {
        flex-direction: unset;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .benefits-left {
        width: 50%;
    }

    .benefits-right {
        width: 50%;
    }

    #benefits ul li {
        text-align: center;
        padding-bottom: 15px;
    }

    /* Map section */
    /*#about>div {
        flex-direction: row;
        flex-wrap: nowrap;
    }*/

    .map-content {
        flex-direction: column;
        align-items: center;
        padding: 20px 10%;
    }

    /* Workshop page */
    .gallery-images {
        column-count: 3;
        column-gap: 0;
    }

    /* Register page */
    #register {
        max-width: 900px;
        margin: auto
    }
    .text-input:hover {
        border-color: #c6f9e2;
    }
    
    .register-button:hover {
        background-color: #31432f81;
        color: #28282B;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Nav section */
    #menu a:hover {
        border-bottom: 1px solid #28282B;
    }

    .test-left,
    .test-right {
        flex: 1 1 100%;
    }

    /* Home page */
    .vogue-image {
        max-width: 400px;
    }

    /* Benefits section */
    #benefits .benefits-left h3 {
        font-size: x-large;
        padding-top: 50px;
    }

    #benefits .benefits-left ul {
        font-size: x-large;
    }

    /* Map section */
    .map-content {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
    }

    /* Yoga & Meditation page */
    #yoga-meditation {
    justify-content: center;
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    }

    .yoga-types {
        flex-wrap: nowrap;
    }
    
    /* Workshops page */
    .workshops div {
        width: 48%;
    }

    .gallery-images {
        column-count: 4;
        column-gap: 0;
    }

}

/* Larger desktop screens */
@media screen and (min-width: 1200px){
    /* Yoga & Meditation page */
    .yoga-types {
        flex-wrap: nowrap;
    }
}