/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Mulish', sans-serif;
    color:#28282B;
}

h1 {
    font-family:'Mukta-Vaani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 500;
    color:#28282B;
}

h2 {
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
}

/* Header */
header { 
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 5px #28282B;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #28282B;
}

/* Navbar styles with a dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #28282B;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Make main element push the footer down by taking up any surplus space */
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(166, 161, 126, .7);
    font-size: 110%;
    position: absolute;
    align-items: center;
    bottom: 20px;
    left: 5%;
    width: 90%;
    min-height: 70px;
    padding: 20px;
}

#cover-text > h2 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;

}

/* Benefits Section */
#benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#benefits div {
    flex-direction: column;
    flex-wrap: wrap;
    
}

#benefits ul {
    padding: 20px;
}

#benefits ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.benefits-image {
    max-width: 50%;
    max-height: 50%;
    border-radius: 45px;
    position: relative;
}

/* Welcome section */

#welcome div {
    text-align: center;
    padding: 15px;
    background-color: rgba(49, 67, 47, 0.72);
}

#welcome div p {
    color:#ffffff;
    font-weight: 300;
}

/* Testimonial section */

#testimonial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.test-left, .test-right {
    flex: 1 1 50%;
    padding: 10px;
}

.test-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vogue-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    height: auto;
}

.test-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test-right p {
    max-width: 600px;
    font-size: larger;
    font-style: italic;
}

/* About section */
#about {
    text-align: left;
    padding: 30px;
}

#about h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color:#28282B;
}

.about-main {
    width: 100%;
    max-width: 800px; /* Adjust based on your design */
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about > div {
    display: flex;
    justify-content: center;
    gap: 10px; 
    max-width: 800px;
    margin: 0 auto;
}

#about > div img {
    width: calc(33.33% - 10px); 
    height: auto;
}



/* Footer */
footer {
    background-color: #869096;
}

/* Newsletter form */ 
footer h3 {
    font-family: 'Mulish', sans-serif;
    color:#28282B;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 5px 0;
}

.newsletter-form input[type="submit"] {
    background-color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color:#28282B;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    padding: 2px 5px;
    border-radius: 20px;
    cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
    background-color: #A6A17E;
}

.newsletter-form input[type="email"] {
    font-family: 'Mulish', sans-serif;
    color:#28282B;
    font-weight: 300;
}

#social-networks {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#social-networks i {
    font-size: 100%;
    color: #28282B;
    padding-right: 5%;
}

/* Media query:phone screens (390px and down) */
@media screen and (max-width: 390px) {
    #logo {
        letter-spacing: 6.5px;
        font-size: 25px;
    }

    #cover-text > h2 {
        font-size:large;
    }
}

@media screen and (max-width: 768px) {
    /* Testimonial section */
    .vogue-image {
        max-width: 60%;
    }

    /* About section */
    #about > div {
        flex-direction: column;
        gap: 10px;
    }

    #about > div img {
        width: 100%;
        max-width: 100%;
    }
}
}

/* Media query: tablets and lager (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        font-size: 12px;
    }

    h1 {
        /* Make logo smaller so navbar pages can be seen */
        font-size: 1.8rem; 
        letter-spacing: 9px;
        /* Make the logo more centered vertically */
        padding-top: 10px
    }

    .nav-toggle-label {
        display: none;
    }
    
    /* Main Content */
    main {
        /* Push main content down to accomodate the logo padding */
        margin-top: 51px;
    }

    /* Benefits section */
    #benefits {
        flex-direction: unset;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .benefits-left {
        width: 50%;
    }

    .benefits-right {
        width: 50%;
    }

    #benefits ul li {
        text-align: center;
        padding-bottom: 15px;
    
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
   /* Nav section */
    #menu a:hover {
        border-bottom: 1px solid #28282B;
    }

    /*Testimonial section */
    #testimonial {
        flex-direction: column;
        text-align: center;
    }

    .test-left, .test-right {
        flex: 1 1 100%;
    }

    .vogue-image {
        max-width: 400px; 
    }    

    /* Benefits section */
    #benefits .benefits-left h3 {
        font-size: x-large;
        padding-top: 50px;
    }

    #benefits .benefits-left ul {
        font-size: x-large;
    }
}

@media screen and (min-width: 1134px) {
    /* Ensuring image size on larger screens */
    .vogue-image {
        max-width: 400px;
    }
}